mixin photo-description(obj)
    section(class="photo-description")
        div(class="container-fluid")
            include ../../photo-description-item/photo-description-item.pug
            +photo-description-item({
                cols: ["col-xl-6 col-lg-6 col-md-6 col-sm-12", "col-xl-6 col-lg-6 col-md-6 col-sm-12"]
            })(class="row")
            +photo-description-item({
                cols: ["col-xl-6 col-lg-6 col-md-6 col-sm-12", "col-xl-6 col-lg-6 col-md-6 col-sm-12"]
            })(class="photo-description-item--reverse row")
    !="\n"

    // END .photo-description
