block data 
doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport", content="initial-scale=1.0, width=device-width")
        title Crios !{data.framework}
        link(href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap" rel="stylesheet")
        link(rel="stylesheet", href="stylesheets/crios-" + data.framework + ".min.css")

    body(class="page")
        block content

        if (data.framework !== "without-framework")

            script(src="scripts/jquery.js")
            script(src="scripts/" + data.framework + "/" + data.script + ".js")
            script(src="scripts/" + data.framework + "/" + data.framework + ".min.js")
        
        script(src="scripts/common-" + data.framework + ".js")
