mixin offer(item)
    div(class="offer " + item.col)
        div(class="offer__icon-block")
            !="\n"
            img(class="offer__icon" src="images/offers/" + item.img + ".jpg" alt="Offer")
        p(class="offer__title") !{item.title}
        p(class="text text--size-s text--darker offer__text") !{item.text}

    // END .offer
