.offer {

    @media (--M) {
        margin-bottom: 40px;
    }

    &__icon-block {
        margin-bottom: 36px;
    }

    &__title {
        font-size: 18px;
        line-height: calc(18/18);
        letter-spacing: 0.18px;
        color: var(--black);
        margin-bottom: 34px;
        padding-left: 10px;
        padding-right: 10px;
    }

    &__text {
        line-height: calc(24/14);
        letter-spacing: 0.14px;
        max-width: 254px;
        margin: 0 auto;
        padding-left: 10px;
        padding-right: 10px;
    }
}
