.w-ceo {
    &__row {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
    

    &__photo-block {
        width: calc(100% / 2);
        box-sizing: border-box;

        @media (--M) {
            width: 100%;
        }
    }

    &__text-block {
        width: calc(100% / 2);
        box-sizing: border-box;

        @media (--M) {
            width: 100%;
        }
    }
}
