@import "../menu/menu.css";

.w-header {
    &__content {
        display: flex;
        flex-wrap: wrap;
    }

    &__nav {
        width: calc(100% / 4);

        @media (--M) {
            width: calc(100%*2 / 12);
        }

        @media (--XS) {
            width: auto;
        }
    }

    &__logo {
        width: calc(100% / 2);

        @media (--M) {
            width: calc(100%*8 / 12);
        }

        @media (--S) {
            width: calc(100%*10 / 12);
        }
    }

    &__search {
        width: calc(100% / 4);

        @media (--M) {
            width: calc(100%*2 / 12);
        }

        @media (--S) {
            width: 100%;
        }
    }
}
