mixin search()
    div(class="search")&attributes(attributes)
        form(class="form search__form")
            !="\n"
            input(class="form__control", type="text", placeholder="Search...")
            !="\n"

        div(class="search__button-block")
            !="\n"
            include ../../_blocks/button/button.pug
            +button({
                image: "search",
            })(class="button--circle search__button")
    !="\n"

    // END .search
