mixin products-preview(obj)
    section(class="products-preview")
        div(class="box")
            div(class=obj.container)
                include ../../_blocks/product/product.pug
                +product({
                    row: obj.row,
                    cols: obj.cols,
                    boxText: "product-preview__block-text",
                    boxImage: "product-preview__block-img",
                    color: "blue",
                    img: "product-1",
                    format: ".png",
                })(class="product-preview products-preview__item")
                +product({
                    row: obj.row,
                    cols: obj.cols,
                    boxText: "product-preview__block-text",
                    boxImage: "product-preview__block-img",
                    color: "blue",
                    img: "product-2",
                    format: ".png",
                    })(class="product--reverse product-preview product-preview--reverse products-preview__item")

    // END .product-preview
