mixin w-offers(obj)
    section(class="w-offers")&attributes(attributes)
        div(class="box")
            div(class="w-offers__content")
                p(class="text text--size-l offers__text") Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                h2(class="title offers__title") Lorem ipsum dolor sit amet
                div(class="w-offers__list " + obj.offersList)
                    -
                        var offersList = [
                            {
                                img: "offer-1",
                                title: "Lorem ipsum dolor sit amet",
                                text: "Suspendisse vel leo efficitur, venenatis est ut, tincidunt nibh."
                            },

                            {
                                img: "offer-2",
                                title: "Lorem ipsum dolor sit amet",
                                text: "Suspendisse vel leo efficitur, venenatis est ut, tincidunt nibh."
                            },

                            {
                                img: "offer-3",
                                title: "Lorem ipsum dolor sit amet",
                                text: "Suspendisse vel leo efficitur, venenatis est ut, tincidunt nibh."
                            },

                            {
                                img: "offer-4",
                                title: "Lorem ipsum dolor sit amet",
                                text: "Suspendisse vel leo efficitur, venenatis est ut, tincidunt nibh."
                            },
                        ]

                    each item in offersList
                        div(class="offer w-offers__item")
                            div(class="offer__icon-block")
                                !="\n"
                                img(class="offer__icon" src="images/offers/" + item.img + ".jpg" alt="Offer")
                                !="\n"
                            p(class="offer__title") !{item.title}
                            p(class="text text--size-s text--darker offer__text") !{item.text}


                div(class="offers__block-button")
                    !="\n"
                    include ../../_blocks/button/button.pug
                    +button({
                        tag: "a",
                        href: "#5",
                        text: "Check our offer",
                        mod: ["square", "square-middle"]
                    })(class="button--square offers__link")
                    
    !="\n"

    // END .w-offers
