@import "../nav/nav.css";
@import "../button-menu/button-menu.css";
@import "../logo/logo.css";
@import "../search/search.css";

.header {
    background: var(--white);
    margin-bottom: 122px;

    @media (--L) {
        margin-bottom: 110px;
    }

    @media (--M) {
        margin-bottom: 80px;
    }

    &__row {
        position: relative;
    }

    &__search {
        position: static;
        padding-top: 57px;

        @media (--M) {
            padding-top: 35px;
        }

        @media (--S) {
            padding-top: 9px;
            width: 100%;
        }
    }
}
