.w-photo-description {
    &__row {
        display: flex;
    }
    
    &__block-img {
        width: calc(100% / 2);
    }

    &__block-text {
        width: calc(100% / 2);
        box-sizing: border-box;
    }
}
