extends ../../_blocks/template/template.pug

block data
    -
        var data = {
            framework: "without-framework",
        }

block content
    include ../../_blocks/follow-page/follow-page.pug
    +follow-page()

    include ../../_blocks/header/header.pug
    +header({
        container: "header-content",
        row: "header-content__row",
        cols: ["header-content__nav", "header-content__logo", "header-content__search"]
    })
