extends ../../_blocks/template/template.pug

block data
    -
        var data = {
            framework: "without-framework",
        }

block content
    include ../../_blocks/follow-page/follow-page.pug
    +follow-page()

    include ../../_blocks/w-header/w-header.pug
    +w-header()

    main(class="main")
        include ../../_blocks/w-hero/w-hero.pug
        -
            var heroContent = [
                {
                    heroTop: true,
                    title: 'Simple PSD template with cool stuff',
                    textAfter: "Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
                    href: "#5",
                    text: "Explore template"
                }
            ]

        each item in heroContent
            +w-hero(item)(class="hero--top")

        include ../../_blocks/w-offers/w-offers.pug
        +w-offers()

        include ../../_blocks/w-photo-description/w-photo-description.pug
        +w-photo-description()

        include ../../_blocks/w-products-preview/w-products-preview.pug
        +w-products-preview()

        include ../../_blocks/w-ceo/w-ceo.pug
        +w-ceo()(class="ceo")

    footer(class="footer")
        include ../../_blocks/w-hero/w-hero.pug
        -
            var heroContent = [
                {
                    textBefore: "Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
                    heroBottom: true,
                    title: 'Lorem ipsum dolor sit amet',
                    href: "https://SYMU.CO/FREEBIES",
                    text: "SYMU.CO/FREEBIES"
                }
            ]

        each item in heroContent
            +w-hero(item)(class="hero hero--bottom")
