extends ../../_blocks/template/template.pug

block data
    -
        var data = {
            framework: "without-framework",
        }

block content
    include ../../_blocks/follow-page/follow-page.pug
    +follow-page()

    include ../../_blocks/_without-framework/header/header.pug
    +header()

    main(class="main")
        include ../../_blocks/_without-framework/hero/hero.pug
        -
            var heroContent = [
                {
                    heroTop: true,
                    title: 'Simple PSD template with cool stuff',
                    textAfter: "Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
                    href: "#5",
                    text: "Explore template"
                }
            ]

        each item in heroContent
            +hero(item)(class="hero--top")

        include ../../_blocks/_without-framework/offers/offers.pug
        +offers()

        include ../../_blocks/_without-framework/photo-description/photo-description.pug
        +photo-description()

        include ../../_blocks/_without-framework/products-preview/products-preview.pug
        +products-preview()

        include ../../_blocks/_without-framework/ceo/ceo.pug
        +ceo()

    footer(class="footer")
        include ../../_blocks/_without-framework/hero/hero.pug
        -
            var heroContent = [
                {
                    textBefore: "Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
                    heroBottom: true,
                    title: 'Lorem ipsum dolor sit amet',
                    href: "https://SYMU.CO/FREEBIES",
                    text: "SYMU.CO/FREEBIES"
                }
            ]

        each item in heroContent
            +hero(item)(class="hero hero--bottom")
