<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <title>Crios without-framework</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/crios-without-framework.min.css">
</head>

<body class="page">
    <div class="follow-page">
        <a class="follow-page__link" href="crios-bootstrap.html">Crios bootstrap</a>
        <a class="follow-page__link" href="crios-foundation.html">Crios foundation</a>
        <a class="follow-page__link" href="index.html">Crios without framework</a>
    </div>
    <!--END .follow-page-->
    <header class="w-header header">
        <div class="box">
            <div class="w-header__content header__row">
                <div class="w-header__nav">
                    <nav class="nav">
                        <ul class="nav__list">
                            <li class="nav__item">
                                <button class="button button-menu button--circle button-menu--opened">
                                    <span class="button-menu__line"></span>
                                </button></li>
                            <li class="nav__item">
                                <div class="menu">
                                    <ul class="menu__list">
                                        <li>
                                            <a class="menu__link nav__link" href="#">Home</a>
                                        </li>
                                        <li>
                                            <a class="menu__link nav__link" href="#">About</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </nav>
                    <!-- END .nav-->
                </div>
                <div class="logo w-header__logo">
                    <a class="logo__link" href="#3">CRIOS
                        <span class="logo__text">FREE PSD TEMPLATE</span>
                    </a>
                </div>
                <!-- END .logo-->
                <div class="w-header__search header__search">
                    <div class="search">
                        <form class="form search__form">
                            <input class="form__controll" type="text" placeholder="Search...">
                        </form>
                        <div class="search__button-block">
                            <button class="button button--circle search__button">
                                <span class="button__image">
                                    <img class="button__icon" src="images/icons/search.svg" alt="search">
                                </span>
                            </button>
                            <!-- END .button-->
                        </div>
                    </div>
                    <!-- END .search-->
                </div>
            </div>
        </div>
    </header>
    <!-- END .w-header-->
    <main class="main">
        <section class="w-hero hero hero--top">
            <div class="box w-hero__content">
                <h1 class="hero__title title">Simple PSD template with cool stuff</h1>
                <p class="hero__text text text--size-l">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <a class="button button--square hero__link" href="#5">
                    <span class="button__text">Explore template</span>
                </a>
                <!-- END .button-->
            </div>
        </section>
        <!-- END .hero-->
        <section class="w-offers offers">
            <div class="box">
                <p class="text text--size-l offers__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <h2 class="title offers__title">Lorem ipsum dolor sit amet</h2>
                <div class="w-offers__list offers__list">
                    <div class="offer w-offers__item">
                        <div class="offer__icon-block">
                            <img class="offer__icon" src="images/offers/offer-1.jpg" alt="Offer">
                        </div>
                        <p class="offer__title">Lorem ipsum dolor sit amet</p>
                        <p class="text text--size-s text--darker offer__text">Suspendisse vel leo efficitur, venenatis est ut, tincidunt nibh.</p>
                    </div>
                    <div class="offer w-offers__item">
                        <div class="offer__icon-block">
                            <img class="offer__icon" src="images/offers/offer-2.jpg" alt="Offer">
                        </div>
                        <p class="offer__title">Lorem ipsum dolor sit amet</p>
                        <p class="text text--size-s text--darker offer__text">Suspendisse vel leo efficitur, venenatis est ut, tincidunt nibh.</p>
                    </div>
                    <div class="offer w-offers__item">
                        <div class="offer__icon-block">
                            <img class="offer__icon" src="images/offers/offer-3.jpg" alt="Offer">
                        </div>
                        <p class="offer__title">Lorem ipsum dolor sit amet</p>
                        <p class="text text--size-s text--darker offer__text">Suspendisse vel leo efficitur, venenatis est ut, tincidunt nibh.</p>
                    </div>
                    <div class="offer w-offers__item">
                        <div class="offer__icon-block">
                            <img class="offer__icon" src="images/offers/offer-4.jpg" alt="Offer">
                        </div>
                        <p class="offer__title">Lorem ipsum dolor sit amet</p>
                        <p class="text text--size-s text--darker offer__text">Suspendisse vel leo efficitur, venenatis est ut, tincidunt nibh.</p>
                    </div>
                </div>
                <div class="offers__block-button">
                    <a class="button button--square button--square-middle button--square offers__link" href="#5">
                        <span class="button__text">Check our offer</span>
                    </a>
                    <!-- END .button-->
                </div>
            </div>
        </section>
        <!-- END .w-offers-->
        <section class="w-photo-description w-photo-description">
            <div class="w-photo-description__row product">
                <div class=" image-box w-photo-description__block-img photo-description__block-img"></div>
                <div class=" w-photo-description__block-text photo-description__block-text">
                    <div class="block-text">
                        <h3 class="title block-text__title">Lorem ipsum dolor</h3>
                        <p class="text text--darker block-text__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vel leo efficitur, venenatis est ut, tincidunt nibh. Suspendisse lobortis lectus vel imperdiet ullamcorper.</p>
                    </div>
                    <!-- END .block-text-->
                </div>
            </div>
            <!-- END .product-->
            <div class="w-photo-description__row product product--reverse photo-description__row--reverse">
                <div class=" image-box w-photo-description__block-img photo-description__block-img"></div>
                <div class=" w-photo-description__block-text photo-description__block-text">
                    <div class="block-text">
                        <h3 class="title block-text__title">Lorem ipsum dolor</h3>
                        <p class="text text--darker block-text__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vel leo efficitur, venenatis est ut, tincidunt nibh. Suspendisse lobortis lectus vel imperdiet ullamcorper.</p>
                    </div>
                    <!-- END .block-text-->
                </div>
            </div>
            <!-- END .product-->
        </section>
        <!-- END .w-photo-description-->
        <section class="w-products-preview products-preview">
            <div class="box">
                <div class="product-preview w-products-preview__item products-preview__item product">
                    <div class=" image-box product-preview__block-img w-products-preview__block-img">
                        <img class="image-box__image product__img" src="images/product/product-1.png" srcset="images/product/product-1@2x.png" alt="product-1">
                    </div>
                    <div class=" product-preview__block-text w-products-preview__block-text">
                        <div class="block-text">
                            <h3 class="title block-text__title title--blue">Lorem ipsum dolor</h3>
                            <p class="text text--darker block-text__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vel leo efficitur, venenatis est ut, tincidunt nibh. Suspendisse lobortis lectus vel imperdiet ullamcorper.</p>
                        </div>
                        <!-- END .block-text-->
                    </div>
                </div>
                <!-- END .product-->
                <div class="product-preview w-products-preview__item products-preview__item product product--reverse products-preview__item products-preview__item--reverse">
                    <div class=" image-box product-preview__block-img w-products-preview__block-img">
                        <img class="image-box__image product__img" src="images/product/product-2.png" srcset="images/product/product-2@2x.png" alt="product-2">
                    </div>
                    <div class=" product-preview__block-text w-products-preview__block-text">
                        <div class="block-text">
                            <h3 class="title block-text__title title--blue">Lorem ipsum dolor</h3>
                            <p class="text text--darker block-text__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vel leo efficitur, venenatis est ut, tincidunt nibh. Suspendisse lobortis lectus vel imperdiet ullamcorper.</p>
                        </div>
                        <!-- END .block-text-->
                    </div>
                </div>
                <!-- END .product-->
            </div>
        </section><!-- END .product-preview-->
        <section class="w-ceo ceo">
            <div class="box w-ceo__row">
                <div class="image-box ceo__photo-block w-ceo__photo-block">
                    <img class="image-box__image ceo__photo" src="images/photo/ceo.jpg" srcset="images/photo/ceo@2x.jpg 2x" alt="Ceo">
                </div>
                <div class="ceo__text-block w-ceo__text-block">
                    <div class="block-text ceo__box-text">
                        <h3 class="title block-text__title title--red">Template is awesome</h3>
                        <p class="text text--darker block-text__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vel leo efficitur, venenatis est ut, tincidunt nibh. Suspendisse lobortis lectus vel imperdiet ullamcorper.</p>
                    </div>
                    <!-- END .block-text-->
                    <div class="w-ceo__description ceo__description">
                        <p class="ceo__name">John Doe</p>
                        <p class="text ceo__profession">CEO at Crios.com</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- END .w-ceo-->
    </main>
    <footer class="footer">
        <section class="w-hero hero hero hero--bottom">
            <div class="box w-hero__content">
                <p class="hero__text text text--size-l">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <h3 class="hero__title title">Lorem ipsum dolor sit amet</h3>
                <a class="button button--square hero__link" href="https://SYMU.CO/FREEBIES">
                    <span class="button__text">SYMU.CO/FREEBIES</span>
                </a>
                <!-- END .button-->
            </div>
        </section>
        <!-- END .hero-->
    </footer>
    <script src="scripts/common-without-framework.js"></script>
</body>

</html>
