@import "../offer/offer.css";

.offers {
    text-align: center;

    &__text {
        line-height: calc(18/18);
        padding-right: 43px;
        margin-bottom: 15px;

        @media (--M) {
            line-height: calc(27 / 18);
            padding-right: 0;
        }
    }

    &__title {
        margin-bottom: 98px;

        @media (--M) {
            margin-bottom: 50px;
        }

        @media (--S) {
            margin-bottom: 30px;
        }
    }

    &__list {
        margin-bottom: 88px;

        @media (--M) {
            margin-bottom: 60px;
        }

        @media (--S) {
            margin-bottom: 10px;
        }
    }

    &__item {
        @media (--M) {
            margin-bottom: 40px;
        }
    }

    &__block-button {
        margin-bottom: 126px;

        @media (--M) {
            margin-bottom: 70px;
        }

        @media (--S) {
            margin-bottom: 50px;
        }
    }

    &__link {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0;
    }
}
