mixin nav(obj)
    nav(class="nav dropdown")&attributes(attributes)
        ul(class="nav__list")
            li(class="nav__item")
                !="\n"
                button(class="button button-menu button--circle button-menu--opened " type="button" id="dropdownMenuButton" data-toggle="dropdown")
                    !="\n"
                    span(class="button-menu__line")
                    !="\n"

                ul(class="menu dropdown-menu" aria-labelledby="dropdownMenuButton")
                    each item in obj
                        li
                            !="\n"
                            a(class="nav__link", href="#") !{item}
                            !="\n"
    !="\n"

    // END .nav
