mixin offers(obj)
    section(class="offers")
        div(class="box")
            div(class="grid-container fluid")
                div(class="grid-x")
                    div(class="cell auto")
                        p(class="text text--size-l offers__text") Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        h2(class="title offers__title") Lorem ipsum dolor sit amet

                div(class="grid-x offers__list")
                    include ../../offer/offer.pug
                    -
                        var offersList = [
                            {
                                img: "offer-1",
                                title: "Lorem ipsum dolor sit amet",
                                text: "Suspendisse vel leo efficitur, venenatis est ut, tincidunt nibh."
                            },

                            {
                                img: "offer-2",
                                title: "Lorem ipsum dolor sit amet",
                                text: "Suspendisse vel leo efficitur, venenatis est ut, tincidunt nibh."
                            },

                            {
                                img: "offer-3",
                                title: "Lorem ipsum dolor sit amet",
                                text: "Suspendisse vel leo efficitur, venenatis est ut, tincidunt nibh."
                            },

                            {
                                img: "offer-4",
                                title: "Lorem ipsum dolor sit amet",
                                text: "Suspendisse vel leo efficitur, venenatis est ut, tincidunt nibh."
                            },
                        ]

                    each item in offersList
                        +offer(item)(class="offers__item large-3 medium-6 small-12")

                div(class="grid-x offers__block-button")
                    !="\n"
                    include ../../button/button.pug
                    +button({
                        tag: "a",
                        href: "#5",
                        text: "Check our offer",
                        mod: ["square", "square-middle"]
                    })(class="button--square offers__link")

    !="\n"

    // END .offers
