.nav {
    margin-top: 57px;

    @media (--M) {
        margin-top: 35px;
    }

    @media (--S) {
        margin-top: 18px;
        position: absolute;
        z-index: 9;
    }

    &__list {
        list-style: none;
    }

    &__item {
        &.menu {
            margin-left: 0;
        }
    }

    & .menu.dropdown-menu {
        border: none;
        background: var(--white);
        box-shadow: 0 4px 4px rgba(218, 229, 239, 0.5);
        margin-left: 0;
        width: 200px;
        padding: 8px 0;
        margin-top: 2px;

        & .nav__link {
            display: inline-block;
            padding: 11px 16px;
        }
    }

    .is-accordion-submenu-parent {
        &:not(.has-submenu-toggle) {
            a {
                display: flex;
                align-items: center;

                &:after {
                    {
                        display: none;
                    }
                }
            }
        }
    }

    &__link {
        font-size: 15px;
        font-weight: 400;
        color: var(--blue);
    }
}
