mixin follow-page()
    div(class="follow-page")
        !="\n"
        a(class="follow-page__link" href="index.html") Crious bootstrap
        !="\n"
        a(class="follow-page__link" href="crios-foundation.html") Crious foundation
        !="\n"

    //END .follow-page
