mixin follow-page()
    div(class="follow-page")
        !="\n"
        a(class="follow-page__link" href="crios-bootstrap.html") Crios bootstrap
        !="\n"
        a(class="follow-page__link" href="crios-foundation.html") Crios foundation
        !="\n"
        a(class="follow-page__link" href="index.html") Crios without framework
        !="\n"

    //END .follow-page
