mixin products-preview(obj)
    section(class="products-preview")
        div(class="box")
                include ../../product-preview/product-preview.pug
                +product-preview({
                    cols: ["", ""],
                    img: "product-1",
                    format: "png",
                    color: "blue"
                })(class="products-preview__item")
                +product-preview({
                    cols: ["", ""],
                    img: "product-2",
                    format: "png",
                    color: "blue"
                })(class="products-preview__item product-preview--reverse")
    !="\n"

    // END .products-preview
