mixin header(obj)
    header(class="header")
        div(class="box")
            div(class="header__row")
                include ../nav/nav.pug
                +nav(["Home", "About"])(class="header__nav")

                include ../../logo/logo.pug
                +logo()(class="header__logo")

                div(class="header__search")
                    include ../../search/search.pug
                    +search()
    !="\n"

    // END .header
