mixin nav(obj)
    nav(class="nav")
        ul(class="nav__list vertical menu accordion-menu" data-accordion-menu)
            li(class="nav__item menu vertical nested")
                !="\n"
                a(class="button button-menu button--circle button-menu--opened" href="#5")
                    !="\n"
                    span(class="button-menu__line")
                    !="\n"
                
                ul(class="dropdown-menu menu vertical nested")
                    each item in obj
                        li
                            !="\n"
                            a(class="nav__link", href="#") !{item}
                            !="\n"
    !="\n"

    // END .nav
