mixin header(obj)
    header(class="header")
        div(class="box")
            div(class="grid-container fluid")
                div(class="grid-x")
                    include ../nav/nav.pug
                    +nav(["Home", "About"])(class="large-3 medium-2 columns")

                    include ../../logo/logo.pug
                    +logo()(class="large-6 medium-8 columns")

                    div(class="large-3 medium-12 columns header__search")
                        include ../search/search.pug
                        +search()
    !="\n"

    // END .header
