mixin search-foundation()
    div(class="search", id="search", data-toggler=".is-active")
        form(class="form search__form")
            !="\n"
            input(class="form__controll", type="text", placeholder="Search...")
            !="\n"

        div(class="search__button-block" data-toggle="search")
            !="\n"
            include ../../_blocks/button/button.pug
            +button({
                image: "search",
            })(class="button--circle search__button")
    !="\n"

    // END .search-foundation
