@import "../photo-description-item/photo-description-item.css";

.photo-description {
    background-color: var(--grey);

    & .photo-description__container {
        @media (--XXL) {
            padding-left: 0;
            padding-right: 0;
        }

        @media (--XL) {
            padding-left: 0;
            padding-right: 0;
        } 
    }
}
