@import "../block-text/block-text.css";

.photo-description {
    background-color: var(--grey);

    .photo-description__content {
        padding: 0;
        overflow: hidden;

        &.fluid {
            padding: 0;
        }
    }

    &__content--reverse {
        .photo-description__block-text {

            @media (--XXL) {
                padding: 0;
                justify-content: center;
            }

            @media (--L) {
                padding: 0 80px;
            }

            @media (--M) {
                padding: 0 60px;
            }

            @media (--S) {
                padding: 30px;
            }
        }

        .photo-description__block-img {
            background: url("../../images/product/photo-2.jpg") center no-repeat;
            background-size: cover;
        }
    }

    &__block-img {
        padding: 0;
        background: url("../../images/product/photo-1.jpg") center no-repeat;
        background-size: cover;

        @media (--XXL) {
            min-height: 563px;
        }

        @media (--XL) {
            min-height: 440px;
        }

        @media (--M) {
            min-height: 400px;
        }

        @media (--S) {
            min-height: 280px;
            height: 280px;
        }
    }

    &__block-text {
        display: flex;
        align-items: center;
        padding: 0 111px;
        background-color: var(--grey);

        @media (--L) {
            padding: 0 80px;
        }

        @media (--M) {
            padding: 0 60px;
        }

        @media (--S) {
            padding: 30px;
        }
    }

    & .block-text__description {

        @media (--S) {
            line-height: 1.8;
        }
    }

    & .block-text__title {

        @media (--S) {
            font-size: 26px;
            margin-bottom: 12px;
        }
    }
}
