mixin photo-description(obj)
    section(class="photo-description")
        div(class="photo-description__row " + obj.container)
            include ../../_blocks/product/product.pug
            +product({
                row: obj.row,
                cols: obj.cols,
                boxText: "photo-description__block-text",
                boxImage: "photo-description__block-img",
            })
            +product({
                row: obj.row,
                cols: obj.cols,
                boxText: "photo-description__block-text",
                boxImage: "photo-description__block-img",
            })(class="product--reverse photo-description__row--reverse")

    !="\n"

    // END .photo-description
