.product-preview {
    display: flex;
    padding-left: 133px;
    flex-wrap: wrap;

    @media (--L) {
        padding: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }

    &__image-box {
        width: calc(500% / 12);
        padding-right: 95px;
        padding-left: 12px;
        box-sizing: border-box;

        @media (--XL) {
            padding: 0;
        }

        @media (--L) {
            width: calc(100% / 2);
        }

        @media (--S) {
            width: 100%;
            padding: 0 50px;
        }

        @media (--XS) {
            padding: 0;
        }
    }

    &__text-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 35px;
        padding-left: 59px;
        width: calc(700% / 12);
        box-sizing: border-box;

        @media (--L) {
            width: calc(100% / 2);
            padding: 0;
        }

        @media (--S) {
            width: 100%;
        }
    }

    &--reverse {
        flex-direction: row-reverse;

        .product-preview__text-box {
            padding-bottom: 11px;
            padding-left: 49px;

            @media (--L) {
                padding: 0;
            }
        }
    }

    &__img {
        width: auto;
    }
}
