mixin logo()
    div(class="logo")&attributes(attributes)
        !="\n"
        a(class="logo__link", href="#3") CRIOS
            !="\n"
            span(class="logo__text") FREE PSD TEMPLATE
            !="\n"
        !="\n"
    !="\n"

    // END .logo
